<header>
    <h1>Coder Shop</h1>
    <nav>
        <a href="/products">volver para atras</a>
    </nav>
</header>
<main>
    <section>
        <h2>Cart</h2>
        {{#if cart.products.length}}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each cart.products}}
                <tr>
                    <td>{{this.product.title}}</td>
                    <td>${{this.product.price}}</td>
                    <td>{{this.quantity}}</td>
                </tr>   
                {{/each }}
            </tbody>
        </table>
        <button id="pay" data-id="{{cart._id}}">comprar</button>
        {{else}}
        <p>No hay productos</p>
        {{/if}}
    </section>
</main>
<footer>
    <small>copyright © 2024  - Alvaro Estanislao Figueroa </small>
</footer>

<script>
    const pay = document.getElementById('pay')
    const cartId = pay.dataset.id 
    pay.addEventListener('click', async () => {
        const response = await fetch(`/api/carts/${cartId}/purchase`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        const data = await response.json()
        window.location.href = data.payload.url
    })
</script>
