<header>
    <h1>Coder Shop</h1>
</header>
<main>
    <div class="paginate">
        {{#if paginateInfo.hasPrevPage}}
            <a href="{{paginateInfo.prevLink}}">Anterior</a>
        {{/if}}
        {{#each paginateInfo.totalPages}}
            <a href="{{this.link}}">{{this.page}}</a>
        {{/each}}
        {{#if paginateInfo.hasNextPage}}
            <a href="{{paginateInfo.nextLink}}">Siguiente</a>
        {{/if}}
    </div>
    <section>
        <h2>List of Products</h2>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Code</th>
                    <th>Stock</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><button onclick="addToCart({{this.id}})">Add to Cart</button></td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>${{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    {{#if status}}
                        <td>✅</td>
                    {{else}}
                        <td>❌</td>
                    {{/if}}
                </tr>   
                {{/each }}
            </tbody>
        </table>
    </section>
</main>
<footer>
    <small>copyright © 2024  - Alvaro Estanislao Figueroa </small>
</footer>