<header>
    <h1>Coder Shop</h1>
    <nav>
        <a href="#" id="cart">mi carrito</a>
    </nav>
</header>
<main>
    <section>
        <h2>List of Products</h2>
        <div class="paginate">
            {{#if paginateInfo.hasPrevPage}}
                <a href="{{paginateInfo.prevLink}}" class="nextOrPrev">Anterior</a>
            {{/if}}
            {{#each paginateInfo.totalPages}}
                <a href="{{this.link}}" class="pages">{{this.page}}</a>
            {{/each}}
            {{#if paginateInfo.hasNextPage}}
                <a href="{{paginateInfo.nextLink}}" class="nextOrPrev">Siguiente</a>
            {{/if}}
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Code</th>
                    <th>Stock</th>
                    <th>Status</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><button class="addToCartBtn" data-product-id="{{this.id}}">Add to Cart</button></td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>${{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    {{#if status}}
                        <td>✅</td>
                    {{else}}
                        <td>❌</td>
                    {{/if}}
                    <td>{{this.category}}</td>
                </tr>   
                {{/each }}
            </tbody>
        </table>
    </section>
</main>
<footer>
    <small>copyright © 2024  - Alvaro Estanislao Figueroa </small>
</footer>

<script src="/js/product.js"></script>