<header>
    <h1>Coder Shop</h1>
</header>
<main>
    <section>
        <form id="formPost">
            <fieldset>
                <legend>Create a New Product</legend>
                <label> Title:
                    <input type="text" name="title" id="title" placeholder="Name of Product">
                </label>
                <label> Description:
                    <input type="text" name="description" id="desc" placeholder="Desc of Product">
                </label>
                <label> Price:
                    <input type="number" name="price" id="price" placeholder="Price of Product">
                </label>
                <label> Code:
                    <input type="text" name="code" id="code" placeholder="Code of Product ej: TEL_MOVIL_005">
                </label>
                <label> Stock:
                    <input type="number" name="stock" id="stock" placeholder="Stock of Product">
                </label>
                <label> Status:
                    <select name="status" id="status">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </label>
                <label> Category:
                    <select name="category" id="category">
                        <option value="Home">Home</option>
                        <option value="Electronic">Electronic</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Sports">Sports</option>
                    </select>
                </label>
            </fieldset>
                <button id="createProduct">Create a Product</button>
        </form>
    </section>
    <section>
        <h2>List of Products</h2>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Code</th>
                    <th>Stock</th>
                    <th>Status</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody id="list">
                {{#each products}}
                <tr>
                    <td><button onclick="deleteProduct({{this.id}})">Eliminar</button></td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>${{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    {{#if status}}
                        <td>✅</td>
                    {{else}}
                        <td>❌</td>
                    {{/if}}
                    <td>{{this.category}}</td>
                </tr>   
                {{/each }}
            </tbody>
        </table>
    </section>
</main>
<footer>
    <small>copyright © 2024  - Alvaro Estanislao Figueroa </small>
</footer>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>