<main>
    <a href="/products">volver para atras</a>
    <section>
        <h2>Profile</h2>
        <ul>
            <li>first name:{{user.first_name}}</li>
            <li>last name:{{user.last_name}}</li>
            <li>email:{{user.email}}</li>
            <li>age:{{user.age}}</li>
            <li>role:{{user.role}}</li>
        </ul>
    </section>
</main>